body{
    width: 100%;
    background-image: image('plate.jpg')
}

.filtering{
    background-color: #1EAEDB;
    border-color: #1EAEDB;
    width: 188px;
}

h1, h3{
    text-align: center;
  }
  
.flash-red{
    color: red;
    font-size: 17px;
    margin-left: 370px;
}
  
.filter{
    margin-left: 120px;
    margin-top: 20px;
}

b{
    font-size: 15px;
}

  .buttons{
    margin-left: 350px;
  }

  button.AddBtn{
    margin-right: 100px;
    color: #FFF;
    background-color: rgb(89, 216, 84);
   border-color: rgb(36, 146, 33);
  }
  button.clear{
    margin-right: 100px;
    color: #FFF;
    background-color: rgb(228, 9, 9);
   border-color: rgb(231, 7, 7);
  }
  .clear{
    margin-left: 82px;
  }
  .background-color{
    background: linear-gradient(to top left, #99ff33 0%, #ffffff 100%);
 }
  .dropbtn {
      background-color: silver;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
      position: relative;
      margin-left: 270px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    
  }

  .displayField{
     font-size: 20px;
     text-align: center;
     border: 2px solid black;
     border-radius: 7px;
     background-color: #fffb05;
     color:rgb(12, 12, 12);
     border-color: rgb(5, 5, 5);
     width: 11%;
     margin: 5px;
     
     margin-left: 45%;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
      background-color: gray;
  }


  @media(max-width: 640px) and (min-width: 360px){

    body{
        width:100%;
    }
    .buttons{
        margin-left: 45px;
      }
      .filter{
        margin-left: 45px;
        margin-top: 20px;
    }
    .dropdown {
        position: relative;
        margin-left: 1px;
    }
    .flash-red{
        color: red;
        font-size: 17px;
        margin-left: 15px;
    }

    b{
        font-size: 18px;
    }

    .container {
        font-size: 45%;
        width: 85%;
        padding: 0; }
    

      button.AddBtn{
        margin-left: 55px;
        color: #FFF;
        background-color: rgb(89, 216, 84);
       border-color: rgb(36, 146, 33);
      }
      button.clear{
        margin-left: 48px;
        color: #FFF;
        background-color: rgb(228, 9, 9);
       border-color: rgb(231, 7, 7);
      }

      .clear{
        margin-right: 100%;
      }

  }
  
  
 